body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
}

/* HEADER */
.header {
  background-color: #1e88e5;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 50px;
}

.nav a {
  color: white;
  margin-left: 40px;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
.hero {
  background-color: white;
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

/* INFO */
.info {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}

.card {
  background-color: white;
  padding: 20px;
  width: 30%;
  border-radius: 8px;
}

/* FOOTER */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 350px;
  height: auto;
}
